/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: hsl(0, 0%, 85%); */
    background-color: rgb(83, 8, 8); 
}
  
  /* Header */
  #header {
    background: rgb(249, 219, 121);
    backdrop-filter: blur(5px);
    box-shadow: 0 6px 6px 2px rgba(180 29 174 / 10%);
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    transition: background 0.3s ease;
  }
  
  #site-title {
    font-size: 1.5rem;
    color: rgb(36, 35, 35);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 50%;
    display: inline-flex;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #2575fc;
  }

  .read {
    padding-left: 2px;
    font-family: 'Vegan Style Personal Use', sans-serif;
  }


  #site-title:hover {
    cursor: default;
  }
  
  #nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-button {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: whitesmoke;
    border-radius: 12px;
    border-style: double;
    padding: 10px 15px;
    background-size: 100% 120%;
    transition: all 200ms ease-in-out;
}

.nav-button:hover {
    /* background: linear-gradient(135deg, #2575fc, #6a11cb); */
    background-size: 120% 200%;
    border-radius: 10px;
    color: white;
    transform: scale(1.05);
  }
  
  /* Blog List */
  #blog-list {
    display: grid;
    justify-items: center;
    gap: 150px;
    /* padding: 2rem; */
    margin-top: 80px;
    padding-top: 100px;
    position: relative;
    /* left: 450px; */
    right: 120px;
  }
  
  .list-content {
    background-color: gainsboro;
    align-content: center;
    height:300px;
    width: 800px;
    /* width: 600px; */
  }

  .blog-card {
      /* border-color: rgb(21, 20, 21); */
      transition: transform 0.2s;
      /* padding-top: 10px; */
      /* height: 200px; */
      background-color: #333;
      justify-content: center;
      align-items: center;
      align-content: center;
      /* width: 800px; */
      transition: 200ms;
    }
    
    .blog-card:hover {
    /* border-radius: 15px; */
    /* border-style: dotted; */
    /* border-color: pink; */
    /* box-shadow: 0 0px 2px 0.5px rgba(221, 11, 214, 0.659); */
    transition: 200ms;
  }
  
  .blog-image {
    border-radius: 8px 0 0 8px;
  }
  
  .blog-content {
    display: flexbox;
    height: max-content;
    /* width: 100px; */
    /* left: 100px; */
    /* overflow: hidden; */
  }
  
  .blog-title {
    display: flex;
    position: relative;
    font-family: "Fugaz One", serif;
  font-weight: 400;
  font-style: normal;
    font-style: italic;
    bottom: 60px;
    padding-left: 50px;
    padding-right: 10px;
    font-size: 1.5rem;
    /* color: #333; */
    color: orangered;
    /* background-color: #666; */
    backdrop-filter: blur(10px);
    /* color: chocolate; */
  }

  .blog-title:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .blog-description {
    display: list-item;
    visibility: hidden;
    position: relative;
    color: #666;
  }
  
  
  /* Tags Dropdown */
  #tags-dropdown {
    position: absolute;
    top: 40px;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .tag-item {
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .tag-item:hover {
    color: #6a11cb;
  }
  

  .title {
    margin-top: 160px;
    font-size: xx-large;
    padding-left: 100px;
  }

  .date {
    display: flex;
    position: relative;
    color: white;
    max-width: max-content;
    font-weight: 600;
    backdrop-filter: blur(2px);
    padding-left: 40px;
    top: 80px;
    background-color: #333;
    opacity: 0.8;
  }

  .tag {
    display: flex;
    position: relative;
    justify-content: end;
    /* padding-right: 20px; */
    top: 60px;
    left: 700px;
    backdrop-filter: blur(2px);
    font-weight: bold;
    color: gold;
    background-color: rgba(111, 49, 4, 0.338);
    max-width: min-content;
  }

  .container1 {
    display: flex;
    position: absolute;
    height: 250px;
    width: 300px;
    border-width: 5px;
    border-color: #2575fc;
    background-color: rgb(14, 13, 13);
    right: 20px;
    top: 350px;
    padding-top: 50px;
  }
  
  .page {
    padding-top: 50px;
  }

  .top{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2575fc;
    display: flex;
    position: relative;
    left: 25px;
    top: -40px;
    /* width: 2000%; */
  }

  .a{
    display: flexbox;
    position: absolute;
    padding-top: 40px;
    /* padding-left: 25px; */
    text-decoration: none;
    /* text-underline-offset: 25px; */
    /* border-color: #2575fc; */
    /* border-width: 5px; */
    /* border-radius: 10px; */
    /* z-index: 1000; */
    font-weight: bold;
    left: 20px;
    text-decoration-color: rgb(52, 58, 44);
    color: firebrick;
  }
  .b{
    display: flexbox;
    position: absolute;
    margin-top: 120px;
    /* padding-left: 25px; */
    font-weight: bold;
    text-decoration: none;
    /* text-underline-offset: 25px; */
    /* text-decoration-color: rgb(52, 58, 44); */
    left: 20px;
    color: firebrick;
  }
  .c{
    display: flexbox;
    position: absolute;
    margin-top: 200px;
    font-weight: bold;
    /* padding-left: 25px; */
    text-decoration: none;

    /* text-underline-offset: 25px; */
    /* text-decoration-color: rgb(52, 58, 44); */
    left: 20px;
    color: firebrick;
  }
  
  .d {
    display: flex;
    position: absolute;
    margin-top: 85px;
    left: 0;
    height: 5px;
    width: 300px;
    background-color: #00a6ff;
  }

  .e {
    display: flex;
    position: absolute;
    margin-top: 160px;
    left: 0;
    height: 5px;
    width: 300px;
    background-color: #00a6ff;
  }

  .f {
    display: flex;
    position: absolute;
    margin-top: 235px;
    left: 0;
    height: 5px;
    width: 300px;
    background-color: #00a6ff;
  }

  .g {
    display: flex;
    position: absolute;
    margin-top: 5px;
    left: 0;
    height: 5px;
    width: 300px;
    background-color: #00a6ff;
  }


.unique-class{
    padding-top: 100px;
}
